.app {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 5rem;
  background: transparent;
  color: #fd3a69;
}
.logo {
  font-size: 2rem;
  font-family: "Big Shoulders Stencil Display", cursive;
  letter-spacing: 2px;
}
.app-header h3 {
  color: #222831;
  letter-spacing: 1px;
  position: relative;
}
.app-products {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
