.app {
  background-color: #e8e8e8;
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.logo {
  font-size: 2rem;

  font-family: "Big Shoulders Stencil Display", cursive;
  letter-spacing: 2px;
}
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  padding: 0 5rem;
  background: transparent;
  color: #fd3a69;
}
.app-products {
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
